<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension point="org.eclipse.jet.transform">
        <transform
            modelLoader="org.eclipse.jet.emf"
            startTemplate="sen/templates/main.jet"
            templateLoaderClass="org.eclipse.jet.compiled._jet_transformation">
            <description>%Plugin.description</description>
            <tagLibraries>
                <importLibrary id="org.eclipse.jet.controlTags" usePrefix="c" autoImport="true"/>
                <importLibrary id="org.eclipse.jet.javaTags" usePrefix="java" autoImport="true"/>
                <importLibrary id="org.eclipse.jet.formatTags" usePrefix="f" autoImport="true"/>
                <importLibrary id="org.eclipse.jet.workspaceTags" usePrefix="ws" autoImport="false"/>
            </tagLibraries>
        </transform>
    </extension>
    <extension point="com.ibm.etools.patterns.Pattern">
        <resourceloader id = "com.ibm.etools.mft.pattern.sen.sf.synchmq" class="com.ibm.etools.mft.pattern.sen.sf.synchmq.PatternMessages"/>
        <resourceloader id = "com.ibm.etools.mft.pattern.sen.sf.onewayackmq" class="com.ibm.etools.mft.pattern.sen.sf.onewayackmq.PatternMessages"/>
        <pattern
            doc="com.ibm.etools.mft.pattern.sen.doc/sen/wmb_patterns_se.htm"
            id="com.ibm.etools.mft.pattern.sen"
            name="%com.ibm.etools.mft.pattern.sen.category"
            parentPatternId="com.ibm.etools.pattern"
            productId="com.ibm.etools.msgbroker.tooling.ide"/>
        <pattern
            id="com.ibm.etools.mft.pattern.sen.sf"
            productId="com.ibm.etools.msgbroker.tooling.ide"
            parentPatternId="com.ibm.etools.mft.pattern.sen"
            name="%com.ibm.etools.mft.pattern.sen.sf.category"
            doc="com.ibm.etools.mft.pattern.sen.doc/sen/sf/overview.htm"/>
        <pattern
            doc="com.ibm.etools.mft.pattern.sen.doc/sen/sf/synchmq/overview.htm"
            id="com.ibm.etools.mft.pattern.sen.sf.synchmq"
            name="%com.ibm.etools.mft.pattern.sen.sf.synchmq"
            parentPatternId="com.ibm.etools.mft.pattern.sen.sf"
            povMetaXML="sen/sf/synchmq/paramsmeta.xml"
            povSchema="sen/sf/synchmq/params.xsd"
            povdoc="com.ibm.etools.mft.pattern.sen.doc/sen/sf/synchmq/parametertable.htm"
            productId="com.ibm.etools.msgbroker.tooling.ide"
            resourceLoaderId="com.ibm.etools.mft.pattern.sen.sf.synchmq"
            transformId="com.ibm.etools.mft.pattern.sen"/>
        <pattern
            doc="com.ibm.etools.mft.pattern.sen.doc/sen/sf/onewayackmq/overview.htm"
            id="com.ibm.etools.mft.pattern.sen.sf.onewayackmq"
            name="%com.ibm.etools.mft.pattern.sen.sf.onewayackmq"
            parentPatternId="com.ibm.etools.mft.pattern.sen.sf"
            povMetaXML="sen/sf/onewayackmq/paramsmeta.xml"
            povSchema="sen/sf/onewayackmq/params.xsd"
            povdoc="com.ibm.etools.mft.pattern.sen.doc/sen/sf/onewayackmq/parametertable.htm"
            productId="com.ibm.etools.msgbroker.tooling.ide"
            resourceLoaderId="com.ibm.etools.mft.pattern.sen.sf.onewayackmq"
            transformId="com.ibm.etools.mft.pattern.sen"/>
    </extension>
    <extension point="org.eclipse.wst.xml.core.catalogContributions">
        <catalogContribution id="default">
            <public publicId="com.ibm.etools.mft.pattern.sen.sf.onewayackmq" uri="sen/sf/onewayackmq/params.xsd"/>
            <public publicId="com.ibm.etools.mft.pattern.sen.sf.synchmq" uri="sen/sf/synchmq/params.xsd"/>
        </catalogContribution>
    </extension>
</plugin>
