<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.ibm.etools.mft.pattern.sen.doc" name="%Plugin.name" version="9.0.0.qualifier" provider-name="IBM">
   	<extension point="org.eclipse.help.toc">
      	<toc file="toc.xml" primary="false"/>
		<toc file="pattern_toc_sf.xml" primary="false"/>
   	</extension>
</plugin>
